---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: ibm-cp4a-operator
  labels:
    app.kubernetes.io/instance: ibm-dba
    app.kubernetes.io/managed-by: ibm-dba
    app.kubernetes.io/name: ibm-dba
    release: 22.0.1
  annotations:
    argocd.argoproj.io/sync-wave: "21"
rules:
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    verbs:
      - use
  - apiGroups:
      - icp4a.ibm.com
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - extensions
    resources:
      - podsecuritypolicies
    verbs:
      - "*"
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    verbs:
      - "*"
  - apiGroups:
      - route.openshift.io
    resources:
      - routes
    verbs:
      - "get"
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
    verbs:
      - "get"
      - "create"
      - "patch"
      - "update"
  # for one-click to send operand request to ibm-common-services
  - apiGroups:
      - operator.ibm.com
    resources:
      - operandrequests
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - operator.ibm.com
    resources:
      - operandrequests/status
    verbs:
      - get
