---
apiVersion: batch/v1
kind: Job
metadata:
  name: cp4a-storage-classes
  annotations:
    argocd.argoproj.io/hook: PreSync
  namespace: openshift-gitops
spec:
  template:
    spec:
      containers:
        - name: config
          image: quay.io/openshift/origin-cli:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "96Mi"
              cpu: "300m"
          env:
            - name: ARGOCD_APP_NAME
              value: cp4a-app
            - name: ARGOCD_NAMESPACE
              value: openshift-gitops
          command:
            - /bin/sh
            - -c
            - |
              set -eo pipefail
              set -x
              storage_class_gold="$(oc get configmap argocd-cp4a-config \
                --namespace "${ARGOCD_NAMESPACE}" -o jsonpath='{.data.storageclass\.gold}')"
              storage_class_silver="$(oc get configmap argocd-cp4a-config \
                --namespace "${ARGOCD_NAMESPACE}" -o jsonpath='{.data.storageclass\.silver}')"
              storage_class_bronze="$(oc get configmap argocd-cp4a-config \
                --namespace "${ARGOCD_NAMESPACE}" -o jsonpath='{.data.storageclass\.bronze}')"
              if [ -z "${storage_class_gold}" ] || [ -z "${storage_class_silver}" ] || [ -z "${storage_class_bronze}" ]; then
                echo "ERROR: Did not find storage classes for target platform."
                exit 1
              fi

              echo "INFO: Patching application ${ARGOCD_APP_NAME}."
              helm_params=$(oc get Application "${ARGOCD_APP_NAME}" --namespace "${ARGOCD_NAMESPACE}" -o yaml -o jsonpath={.spec.source.helm.parameters})
              if [[ ! ${helm_params} == *${storage_class_gold}* ]]; then
                  app_patch=/tmp/patch.json
              cat<<EOF > "${app_patch}"
                [
                  {
                    "op": "add",
                    "path": "/spec/source/helm/parameters/0",
                    "value": {
                      "forceString": true,
                      "name": "storageclass.gold",
                      "value": "${storage_class_gold}"
                    }
                  },
                  {
                    "op": "add",
                    "path": "/spec/source/helm/parameters/0",
                    "value": {
                      "forceString": true,
                      "name": "storageclass.silver",
                      "value": "${storage_class_silver}"
                    }
                  },
                  {
                    "op": "add",
                    "path": "/spec/source/helm/parameters/0",
                    "value": {
                      "forceString": true,
                      "name": "storageclass.bronze",
                      "value": "${storage_class_bronze}"
                    }
                  }
                ]
              EOF

                  oc patch Application "${ARGOCD_APP_NAME}" \
                      --namespace "${ARGOCD_NAMESPACE}" \
                      -o yaml \
                      --type=json \
                      --patch-file "${app_patch}" \
                  && echo "INFO: Patched application ${ARGOCD_APP_NAME}." \
                  || echo "ERROR: Failed to patch application ${ARGOCD_APP_NAME}."
              else
                  echo "INFO: Application ${ARGOCD_APP_NAME} was already patched."
              fi
              echo "INFO: Application ${ARGOCD_APP_NAME} current helm parameters:"
              oc get Application "${ARGOCD_APP_NAME}" \
                    --namespace "${ARGOCD_NAMESPACE}" \
                    -o jsonpath={.spec.source.helm.parameters}

      restartPolicy: Never
      serviceAccountName: {{.Values.serviceaccount.argocd_application_controller}}
  backoffLimit: 4
